*{
    margin: 0;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


.login{
    background-color: rgb(46,55,64);
    font-family: 'Asap', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.form {
  overflow: hidden;
  background-color: white;
  padding: 40px 30px 30px 30px;
  border-radius: 10px;
  width: 400px;
  box-shadow: 5px 10px 10px rgba(rgba(2, 128, 144, 1), 0.2);

}

.form > input {
    font-family: 'Asap', sans-serif;
    display: block;
    border-radius: 5px;
    font-size: 16px;
    background: white;
    width: 100%;
    border: 0;
    padding: 10px 10px;
    margin: 15px -10px;
    border-bottom: 1px solid black;
  }

  .button {
    font-family: 'Asap', sans-serif;
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    width: 80px;
    border: 0;
    padding: 10px 0;
    margin-top: 10px;
    margin-left: -5px;
    border-radius: 5px;
    background-color: #1FCE6D;
    
  }
  .button:hover{
    background-color: #109b4f;
  }

.account-info{
    margin-top: 10px;
}

.error{
    color: red;
    margin-top: 10px;
}



/* app page */

.app{
  background-color: #9CA3AF;
  padding-bottom: 50px;
}

.signoutBtn{
  margin-right: 20px;
}


.income-expense{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.card{
  width: 300px;
  min-width: 200px;
}
.total-balance{
  margin-top: 10px;
}


.input-head{
  display: flex;
  margin: 10px;
}

.form-select{
  height: 40px;
  margin-left: 5px;
}

.tabs{
  display: flex;
  justify-content: space-around;
  padding: 7px;
  background-color: #1F2937;
}

.tab-btn{
  color: white;
  background-color: #109b4f;
  height: 100%;
  padding: 10px 20px;
  border-radius: 10px;
}

.chartContainer{
  margin: 0 auto;
  height:400px; 
  width:400px;
}
